*{
  margin: 0; /*espaço*/
  padding: 0; /*preenchimento*/
}

html {
  scroll-behavior: smooth;
}
body{
  background-image: url(./images/wallpapert.png);
font-family: 'Alegreya Sans SC', sans-serif;
color: black;

}

nav ul {

    font-family: 'Alegreya Sans SC', sans-serif;

    list-style: none;

    display: flex;
    align-items: center;
    gap: 2rem;

    position: fixed;
    background: rgba(183, 64, 47);
    height: 2rem;
    width: 100%;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
    justify-content: center;

    padding-bottom: 5px;
    
}

ul {
  list-style: none;
}

header {
  text-align: center;
  box-sizing: border-box;
  padding: 1.0px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 309px;
  margin: 0 auto;
  padding-top: 40px;
}

.bg {
  box-sizing: border-box;
  padding: 1.0px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 309px;
  margin: 0 auto;
}

section {
  box-sizing: border-box;
  padding: 1.0px;
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 309px;
  margin: 0 auto;
}


section h2 {
  background: rgba(183, 64, 47);
  padding: 8px 16px;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 24px;
}

ul li {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

li .details {
  max-width: 240px;
}


span {
  color: #000000;
}

nav a {

  color: black;
  text-decoration: none;

}

.logo {
  margin: px auto;
  width: 480px;
  height: 107px;
  position: static;
  overflow: hidden;
  object-fit: none;
}

.contato ul li{
  text-decoration: none;
  color: black;
}